@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import '~bootstrap/dist/css/bootstrap.css';


html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body{
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;
  font-family: 'Lato', cursive !important;
  background-color:#f5f5f5 !important;
  color: #262626;
  margin: 0;
  padding: 0;
}

#root {
  min-width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color:#2C364C !important;
}

*:focus {
  outline: none;
}

*:active {
  outline: none;
  border: none;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444; 
}
