#app-welcome-soluciones-empresariales {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    background:linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
    url('https://images.pexels.com/photos/1722183/pexels-photo-1722183.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 300;
}

#app-welcome-soluciones-empresariales .logo {
    width: 30%;
    margin: 0 35%;
    text-align: center;
    font-size: 5em;
}

#app-welcome-soluciones-empresariales .hello {
    width: 50%;
    margin: 0 25%;
    text-align: center;
}

#app-welcome-soluciones-empresariales .hello h1 {
    font-size: 2.5em;
    padding: 0.5em 0;
}

#app-welcome-soluciones-empresariales .hello h4 {
    font-size: 1.5em;
    padding: 0.5em 0;
    font-weight: 300;
}

#app-welcome-soluciones-empresariales .info {
    width: 50%;
    margin: 0 25%;
    text-align: center;
}



/* Media Screen */
@media only screen and (max-width: 1920px) {
    #app-welcome-soluciones-empresariales .logo {
        width: 30%;
        margin: 0 35%;
        font-size: 5em;
    }
    #app-welcome-soluciones-empresariales .hello {
        width: 50%;
        margin: 0 25%;
    }
    #app-welcome-soluciones-empresariales .hello h1 {
        font-size: 2.5em;
    }
    #app-welcome-soluciones-empresariales .hello h4 {
        font-size: 1.5em;
    }
    #app-welcome-soluciones-empresariales .info {
        width: 50%;
        margin: 0 25%;
    }
}

@media only screen and (max-width: 1600px) {
    #app-welcome-soluciones-empresariales .logo {
        font-size: 4em;
    }
    #app-welcome-soluciones-empresariales .hello h1 {
        font-size: 2em;
    }
    #app-welcome-soluciones-empresariales .hello h4 {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 1366px) {
    #app-welcome-soluciones-empresariales .info {
        width: 60%;
        margin: 0 20%;
    }
}

@media only screen and (max-width: 1024px) {
    #app-welcome-soluciones-empresariales .hello {
        width: 70%;
        margin: 0 15%;

    }
    #app-welcome-soluciones-empresariales .info {
        width: 80%;
        margin: 0 10%;
    }
}

@media only screen and (max-width: 600px) {
    #app-welcome-soluciones-empresariales {
        display: none
    }
}




