.details-modal .modal-content{
    border-radius: 0;
}

.details-modal .modal-header{
    border-bottom: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.details-modal .modal-title {
    font-weight: 300;
}

.details-modal form{
    width: 100%;
    padding: 1.5em;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
}

.details-modal form .input{
    width: 48%;
    margin: 0.5em 1%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
}

.details-modal form .input span {
    width: 100%;
    padding: 0.5em 0;
    text-align: center;
    font-weight: 400;
}

.details-modal form .input input{
    width: 100%;
    padding: 0.5em 0;
    border: none;
    border-bottom: 2px solid #ccc;
}

.details-modal form .input input:hover {
    border-bottom: 2px #262626 solid;
}

.details-modal form .input input:active {
    border-bottom: 2px #262626 solid;
}

.details-modal form .input input:focus {
    border-bottom: 2px #262626 solid;
}

.details-modal form button {
    width: 40%;
    margin: 1em 30%;
    background-color: #262626;
    color: #fbfbfb;
    border: none;
    padding: 0.5em 0;
}