#app-sigup-soluciones-empresariales {
    width: 70%;
    padding: 2em 1em;
    text-align: center;
    
}

#app-sigup-soluciones-empresariales h3 {
    font-size: 1.5em;
    font-weight: 300;
    text-align: left;
    width: 50%;
    margin: 0 25%;
    line-height: 1.5em;
}

#app-sigup-soluciones-empresariales form {
    padding: 2em 3em;
}

#app-sigup-soluciones-empresariales form input[type="text"], input[type="password"] {
    width: 50%;
    margin: 1em 25%;
    border: none;
    border-bottom: 2px #ccc solid;
    padding: 0.5em;
}

#app-sigup-soluciones-empresariales form input[type="text"]:hover, input[type="password"]:hover {
    border-bottom: 2px #262626 solid;
}

#app-sigup-soluciones-empresariales form input[type="text"]:active, input[type="password"]:active {
    border-bottom: 2px #262626 solid;
}

#app-sigup-soluciones-empresariales form input[type="text"]:focus, input[type="password"]:focus {
    border-bottom: 2px #262626 solid;
}

#app-sigup-soluciones-empresariales form button {
    background-color: #262626;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    margin: 1em 0;
}

#app-sigup-soluciones-empresariales form button:hover {
    background-color: #161616;
}